* {
    box-sizing: border-box;
    margin: 0;
  }

main {
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: white;
    padding: auto;
  }

.banner {
    background-color: #2F2F2F;
    padding-top: 8em;
    min-height: 40vh;
    display: flex;
    position: relative;

}

/*box*/
.box {
    position: relative;
    height: 400px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
  }


  /*content menu*/
.menu {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
  }
  .menu .content {
    color: rgb(29, 29, 34);
    display: flex;
    justify-content: space-around;
    line-height: 2em;
    background-color: #F8F8F8;
    padding: 30px;
  }

  ul li {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

footer {
  background: linear-gradient(259deg, rgba(143,132,214,1) 0%, rgba(65,183,209,1) 100%);
  margin: 0 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;

}