* {
    box-sizing: border-box;
    margin: 0;
  }

main {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content:space-between;
  padding: 10px 0px;
  align-items: center;
}

.banner {
    background-color: #2F2F2F;
    padding-top: 8em;
    min-height: 40vh;
    position: relative;
}

/*cube*/
.cube {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 400px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
  }

  @keyframes animate 
  {
   0%
    {
      transform: rotateX(-20deg) rotateY(360deg);
    }
    100%
    {
      transform: rotateX(-20deg) rotateY(0deg);
    }
  }


  /* contents */
  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 80px;
    gap: 10px;
    color: rgb(29, 29, 34);
    background-color: #F8F8F8;;
    font-family: 'Poppins', sans-serif;
    line-height: 2.2em;
}

  ul li {
    list-style-type: none; /* Remove bullets */
  }

  a:link {
    text-decoration: none;
    color: rgb(29, 29, 34);
  }

footer {
  text-align: center;
  padding: 40px;
  background: linear-gradient(259deg, rgba(143,132,214,1) 0%, rgba(65,183,209,1) 100%);
  margin: 0 40px;
}