* {
    box-sizing: border-box;
    margin: 0;
  }

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  display: block;
  position: relative;
  color: #2F2F2F;
}

  h2 {
    font-weight: 600;
  }

  h5 {
    font-size: 400;
  }

header {
  display: flex;
  justify-content:space-between;
  padding: 10px 40px;
  align-items: center; 
  max-width: 1100px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #2F2F2F;
  color: #F8F8F8;
}

#banner {
    background-color: #2F2F2F;
    width: 1100px;
    height: 250px;
    margin: auto;
    padding: 0;
    display: block;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
  }
  
    .box {
      position: absolute;
      top: 80px;
      left: 200px;
      transform-style: preserve-3d;
      animation: animate 16s linear infinite;
    }

    .box2 {
      position: absolute;
      top: 80px;
      right: 200px;
      transform-style: preserve-3d;
      animation: animate 16s linear infinite;
    }

    .box3 {
      position: absolute;
      top: 80px;
      right: 400px;
      left: 400px;
      transform-style: preserve-3d;
      animation: animate 16s linear infinite;
    }

    @keyframes animate 
    {
     0%
      {
        transform: rotateX(-20deg) rotateY(360deg);
      }
      100%
      {
        transform: rotateX(-20deg) rotateY(0deg);
      }
    }
  
    .box div {
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      cursor: pointer;
    }

    .box2 div {
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      cursor: pointer;
    }

    .box3 div {
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      cursor: pointer;
    }

  .face1 {
    --i:0;
  }
  .face2 {
    --i:2;
  }
  .face3 {
    --i:3;
  }
  .face4 {
    --i:5;
  }
  
  /* box left */
    .box div.block span {
      position:absolute;
      left: calc(50% - 100px);
      width: 100px;
      height: 100px;
      background: rgb(105, 105, 106);
      transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
      transition: 0.5s;
    }
    .box div.block:hover span {
      background: #8B81F5;
      filter: drop-shadow(0 0 50px #8B81F5);
    }

  /* box right */
    .box2 div.block span {
      position:absolute;
      right: calc(50% - 100px);
      width: 100px;
      height: 100px;
      background: rgb(105, 105, 106);
      transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
      transition: 0.5s;
    }
    .box2 div.block:hover span {
      background: #7FF4FC;
      filter: drop-shadow(0 0 50px #7FF4FC);
    }

  /* box center */
     .box3 div.block span {
      position:absolute;
      right: calc(50% - 100px);
      width: 100px;
      height: 100px;
      background: rgb(105, 105, 106);
      transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
      transition: 0.5s;
    }
    .box3 div.block:hover span {
      background: #4997DF;
      filter: drop-shadow(0 0 50px #4997DF);
    }
  
  /* contents */
  main {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 400;
    position: relative;
    width: 1100px;
}

  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    background-color: #2F2F2F;
    font-family: 'Poppins', sans-serif;
    line-height: 2.2em;
}

.leftColumn {
  /* background-color: #2F2F2F; */
  background-color: #F8F8F8;
  margin: 0;
  padding: 40px;
}
.centerColumn {
  /* background-color: #2F2F2F; */
  background-color: #F8F8F8;
  margin: 0;
  padding: 40px;
}
.rightColumn {
  /* background-color: #2F2F2F; */
  background-color: #F8F8F8;
  margin: 0;
  padding: 40px;
}

ul {
  padding-left: 0;
}

  ul li {
    list-style-type: none; /* Remove bullets */
    list-style-position: inside;
    padding-left: 0;
  }

  a:link {
    text-decoration: none;
    /* color: rgb(29, 29, 34); */
  }

  ul li a {
    text-decoration: none;
    color: #2F2F2F;   
}

li a {
  display:block;
  /* margin: auto; */
  text-decoration: none;
  transition: .3s ease-in-out .0s;
}

a:hover {
    padding-left: 1em;
    transform: scale(1.2);
    color: #19a3ad;
}
  /* footer */
footer {
  text-align: center;
  padding: 26px;
  background: linear-gradient(100deg, rgba(143,132,214,1) 0%, rgb(65, 183, 209) 100%);
  margin: 0 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color:  #F8F8F8;
  line-height: 1.8em;
  width: 1100px;
}

footer a:link {
  color: #F8F8F8;
}

/* blog posts style */
.blogBody {
  background-color: #F8F8F8;
}

.blogHeader{
  display: flex;
  justify-content:space-between;
  padding: 10px 0px;
  align-items: center; 
  max-width: 1100px;
  margin-left: 40px;
  margin-right: 40px;
  color: #2F2F2F;
  background-color: #F8F8F8;
  font-size: 28px;
}

#row1 {
padding: 20px 0px;
display: flex;
}

.column {
  flex: 40%;
  line-height: 1.6em;
}

.blogFooter {
  background: #F8F8F8;
  color: #2F2F2F;
}