* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.5em;
    position: relative;
}

/*text styles*/
header {
    text-align: center;
}
h1 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 100px;
    padding: 10px;
}
h2 {
    margin-bottom: 1em;
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif;
}

/*Button & game control*/
button { 
    padding: 10px;
    background-color: #1FC0D4;
    color: white;
    border-radius: 6px;
    background-color:  #1FC0D4;
    margin-top: 10px;
}

/* #gamecontrol, #score {
    background-color: yellow;
    /* max-width: 500px; */
    /* padding: 10px; 
} */

#gamecontrol, #startgame {
   background-color: #1FC0D4;
   border-color: transparent;
   text-align: center;
}

#actions {
 position: absolute;
 left: 41%;
}

#gamecontrol, #quit {
    background-color: white;
    color: black;
    padding: 12px;
    margin-top: 32px;

}

#roll {
    text-align: center;
    padding: 10px;
    border-color: transparent;
}

#players {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.player {
    position: relative;
    padding: 20px 30px;
}

.player img{
    width: 70%;
}

#scores {
    display: flex;
    justify-content: center;
    padding: 1em;  
}

.score {
    padding: 1em;
    margin: 1em;
    background-color: #2097F6;
    width: 100px;
    /* height: 80px; */
    border-radius: 6px;
    color: #eaeaea;
    text-align: center;
    font-size: 30px;
}

#dice {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

#playerTurn{
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 240px;
}

#turn1 {
    padding: 14px 20px;
    border-radius: 6px;
    border-radius: 6px;
    background-color: #5948d7;
    font-size: 20px;
    color: #eaeaea;
}

#turn2 {
    padding: 14px 20px;
    border-radius: 6px;
    border-radius: 6px;
    background-color: #5948d7;
    font-size: 20px;
    color: #eaeaea;
}

#game {
    line-height: 65px;
    padding-left: 50px;
    text-align: center;
}

footer {
    bottom: 0;
    margin-left: 43%;
    margin-top: 50px;
}

#rollagain{
 border-color: transparent;
}

#pass{
    border-color: transparent;
}