* {
    box-sizing: border-box;
    margin: 0;
  }

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  min-width: 900px;
  margin: auto;
  display: block;
  position: relative;
  color: #2F2F2F;
  background-image: url("img/paper.jpg");
}

.briefHeader {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


  h2 {
    font-weight: 600;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section article {
    width: 900px;
    height: 600px;
    line-height: 2em;
    padding: 30px;
  }

  p {
    padding: 10px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .usertestHeader {
    color: rgb(239, 239, 244);
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .usertestBody{
    background-image: url("img/usertest.png");
    
  }
  
  .usertestArticle {
    padding: 1.2em;
    background-color:rgba(16, 29, 36, 0.9);
    color: white;
    width: 56vw;
    height: auto;
    margin-bottom: 1em;
    border-radius: 4px;
  }  

  .usertestFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  }

  .usertestFooter a {
    color: aliceblue;
  }

  .usertestImages img{
    width: 50%;
  }