* {
    box-sizing: border-box;
    margin: 0;
  }

h1 {
  font-size: 40px;
  }

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    min-width: 900px;
    height: 100vh;
    margin: auto;
    display: block;
    position: relative;
    color: #2F2F2F;
    background: linear-gradient(57deg, rgba(143,132,214,1) 6%, rgba(99,197,228,1) 46%, rgba(71,169,215,1) 70%, rgba(51,89,196,1) 100%);
    background-repeat: no-repeat;

}

main {
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 400;
    position: relative;
    display: flex;
    padding: 2em;
}

section {
  margin: 20px;
  padding: 10px 30px;
  display: block;
}

.rightColumn {
  padding: 0 60px;
}

input[type="text"] {
  padding: 0.6em;
  width: 300px;
  border-radius: 6px;
  border: 0px;
  margin-top: 4px;
}

input[type="text"]:focus {
  border:0px solid #D6D9DC;
  outline: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fieldset{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  width: 380px;
  height: 640px;
  padding: 2.4em;
  line-height: 1.2em;
  position: relative;
}

select {
  padding: 6px 4px;
  font-size: 0.9em;
  border-radius: 6px;
  border: 0px;
  margin-top: 4px;
}

input[type=submit] {
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  position: absolute;
  right: 40px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

img {
  width: 580px;
  height: auto;
  overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.hidden {
  visibility: visible;
  opacity:0;
}

.showing {
  visibility: visible;
  opacity:1;
}

#overlay{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#overlay article {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  width: 50vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease;
}